*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Arima Madurai', cursive;
  font-size: 1rem;
  background-color: #00A000;
}

header {
  background-color: #1b1b1b;
  padding: 1em;
  position: relative;
}

h1 {
  margin: 0;
  text-align: center;
  color: #B5B816;
  text-shadow: -3px -2px 4px #1629B8;
}

.container {
  min-width: 100%;
  max-width: 600px;
  min-height: 75vh;
  margin: 2.5em auto 1em auto;
}

#info-toggle {
  border: 1px solid grey;
  border-radius: 5px;
  font-family: inherit;
  font-size: 1rem;
  position: absolute;
  top: 95.5px;
  right: 0;
  cursor: pointer;
  padding: 0 .5em;
}

#sidebar {
  min-width: 150px;
  height: 7%;
  background-color: #B5B816;
  border-radius: 5px;
  padding: .95em .5em .5em;
  box-shadow: 1px 1.5px 4px #1b1b1b;
  text-align: center;
  position: absolute;
  top: 95.5px;
  right: 40px;
  display: none;
}

#sidebar.visible {
  display: flex;
}

#score-tally {
  display: flex;
  align-items: center;
  border-right: #1b1b1b 1px solid;
}

#cards-left-container {
  display: flex;
  align-items: center;
  border-left: #1b1b1b 1px solid;
}

#player1-score,
#player2-score,
#cards-left {
  font-size: .95rem;
  color: #252525;
}

#player1-score {
  margin-right: .5em;
}

#player2-score {
  margin-right: .5em;
}

#cards-left {
  margin-left: .5em;
  color: #b42727;
}

main {
  min-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.player-name-el{
  text-align: center;
  color: #B5B816;
  text-shadow: 0 0 5px #1b1b1b;
  margin-top: .6em;
  margin-bottom: .6em;
}

.card {
  height: 90px;
  width: calc(90px * 5 / 7);
}

img {
  width: 100%;
  height: 100%;
}

#pickup-and-discard {
  display: flex;
  align-items: center;
  justify-content: center;
}

#pickup-pile,
#discard-pile {
  height: 90px;
  width: calc(82.5px * 5 / 7);
}

#pickup-pile,
#discard-pile,
.card-btn {
  border: 0;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

#pickup-pile {
  margin-right: .25em;
}

#pickup-and-discard,
#player1-side,
#player2-side {
  margin-bottom: 1em;
}

#player1-side,
#player2-side {
  width: 100%;
  height: 33.33%;
}

#player1-cards,
#player2-cards {
  margin: 0 auto;
  width: 80%;
  display: flex;
}

.card + .card {
  margin-left: .1em;
}

@media screen and (min-width: 450px) {
  #pickup-pile {
    margin-right: 1em;
  }

  #player1-cards,
  #player2-cards {
    justify-content: space-between;
  }

  #pickup-pile,
  #discard-pile,
  .card {
    height: 120px;
    width: calc(120px * 5 / 7);
  }
}

@media screen and (min-width: 660px) {
  .container {
    min-width: 400px;
  }

  #pickup-pile,
  #discard-pile,
  .card {
    height: 140px;
    width: calc(140px * 5 / 7);
  }

  #pickup-pile {
    margin-right: 2em;
  }

  #player1-cards,
  #player2-cards {
    width: 100%;
  }
}

@media screen and (min-width: 1250px) {
  #info-toggle {
    visibility: hidden;
  }

  #sidebar {
    display: flex;
    left: 0;
    right: unset;
  }
}